@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    box-sizing: border-box;
    overflow: hidden;
    height:100vh;
    font-family: 'Poppins', serif;
    font-style: normal;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin:0
}
button{
    cursor: pointer;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
